@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:wght@100;300;400;700&display=swap');
body {
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
}

::selection {
  background: #e00814;
}

.intro-section img {
  width: 300px;
  height: auto;
  margin-right: 50px;
}

.info img {
  width: 200px;
  height: 320px;
  border: 3.5px solid #3882f6;
  border-radius: 8px;
  padding: 5px;
  margin: 0px;
}

.header {
  display: flex;
  align-items: center;
  background: #1f2937;
  justify-content: center;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  margin-right: 500px;
}

.logo .logo-changer {
  font-family: 'Michroma', sans-serif;
  color: #3882f6;
  text-transform: uppercase;
  font-weight: 700;
}

ul {
  list-style: none;
}
.link {
  display: flex;
  gap: 0 16px;
  font-size: 18px;
  font-weight: thin;
}

.link a {
  text-decoration: none;
  color: #e5e7eb;
}

.link a:hover {
  color: #3882f6;
}

.intro-section {
  padding: 50px 0px 100px 0px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.intro-section-title {
  font-size: 44px;
  font-weight: bold;
  max-width: 450px;
  margin-right: 300px;
  color: white;
}

.left-content-wrapper p {
  color: #e5e7eb;
  max-width: 400px;
}

.left-content-wrapper button {
  cursor: pointer;
  background: #3882f6;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  padding: 8px 30px 8px 30px;
  font-weight: bold;
}
.left-content-wrapper button:hover {
  background: #2b61b5;
}

.middle-section {
  text-align: center;
}

.middle-section-title {
  font-size: 38px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 40px;
}

.middle-section-image-container {
  display: flex;
  justify-content: center;
}

.info {
  width: 300px;
}

.info .text {
  max-width: 200px;
  margin-left: 50px;
}
